.steps {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.steps::after {
  content: "";
  width: 380px;
  border-bottom: 1px solid #ccc;
  position: absolute;
  top: 20px;
}

.step {
  text-align: center;
  background-color: rgb(250, 234, 183);
  z-index: 1;
  padding: 0.5rem;
  width: 120px;
}

.step svg {
  font-size: 1.6rem;
  margin-bottom: 0.2rem;
}

.active {
  font-weight: bold;
}

.active > svg {
  fill: #f30707;
}

.active p {
  color: #000;
}

@media screen and (max-width:525px) {
  .steps {
    width: auto;
    max-width: 330px;
    gap: 2rem;
  }

  .steps::after {
    width: 300px;
  }
}